.banner {
  display: flex;
  flex-direction: row;
  min-height: 600px;
  height: 9vh;
  width: 100%;
}

.banner-image img {
  order: 1;
  margin-bottom: 3em;
  width: 90%;
  margin-left: 5%;
}

.tag-line {
  order: 2;
  width: 100%;
  margin: 0;
  padding: 0 30px;
}

.tag-line h1 {
  width: 100%;
  font-size: 2rem;
  color: #2596be;
  font-weight: bold;
}

@media (min-width: 768px) {
  .tag-line {
    order: 0;
  }
}
