/* =======
    Logo
   ======= */
.logo-first,
.logo-last{
    font-size: 35px;
    font-weight: 600;
}
.logo-first{
    color: #2596be;
}
.logo-last{
    color: #eeeee4;
}
/* ===========
    Nav links
   ===========*/
.nav-link-lists li a{
    font-size: 20px;
    color: #eeeee4 !important;
}